@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Slab:wght@100;200;300;400;500&display=swap');

body{
  background-image: url(https://thumbs.dreamstime.com/b/pattern-school-related-items-seamless-sketch-like-illustration-books-pens-other-objects-studies-background-72319278.jpg);
  font-family: 'Merriweather', serif;
}

#input-field{
  padding: 20px;
  border-radius: 10px;
  width: 50vw;
}

.addtask-btn{
  padding: 20px;
  border-radius: 10px;
  background-color: #0D1282;
  color: #F0DE36;
}

.addtask-btn:hover{
  background-color: #46458C;
}

.text-form {
  text-align: center;
  padding: 20px;
}

h1{
  font-size: 50px;
  background-color: #0d13827b;
  color: #F0DE36;
}

input {
  padding: 5px;
  margin-right: 10px;
}

.delete-btn {
  margin: 30px;
  padding: 5px 10px;
  background-color: #F0DE36;
  color: #0D1282;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 30px;
  margin: 30px;
}

li {
  margin: 30px;
  background-color: #0D1282;
  color: #F0DE36;
}
